.hidden {display: none;}

.card {
    flex-direction: row;
    border: none;
}

.card-body {
    width: calc(100% / 3);
    margin-right: 1rem;
    padding: 2rem;
    border: 1px solid #a5a5a5;
    text-align: center;
}